<div ng-controller="AsteroidTableCtrl" ng-cloak>
  <div class="form-horizontal" style="height: 30px">
    <div ng-controller="AsteroidLookupCtrl" ng-init="Init()" style="float: left; width: 280px;">
      Lookup:
      <span id="autocomplete-container" autocomplete-input="{{lookup_query}}" autocomplete></span>
    </div>
    <!-- CUSTOM INPUT -->
    {% include "blocks/custom_input.html" %}
    <!-- MAIN TABLE -->
    <div class="pull-right">
      Show
      <select ng-options="x for x in POSSIBLE_LIMITS" ng-model="requestParams.limit" ng-change="refresh()"
              style="height:24px; width:70px; font-size:12px">
      </select>
    </div>
    <!--<div class="pagination pagination-right pagination-mini">-->
    <!--<ul>-->
    <!--<li ng-class="{disabled:requestParams.page<=1}"><a href="#" ng-click="prevPage()">&laquo;</a></li>-->
    <!--<li class="active"><a href="#" ng-bind="requestParams.page"></a></li>-->
    <!--<li><a href="#" ng-click="nextPage()">&raquo;</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="pull-right">
      <a ng-class="{disabled:requestParams.page<=1}" ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
      <span class="badge" ng-bind="requestParams.page"></span>
      <a ng-click="nextPage()"><i class="icon-chevron-right"></i></a>
    </div>
  </div>
  <div id="results-table-container">
    <table id="results-table" class="table table-striped-dark table-bordered table-condensed" ng-show="!loading">
      <thead>
      <tr>
        <th ng-repeat="column in columns" ng-click="orderBy(column)">
          <span ng-bind="column.name"></span>
          <i ng-show="column.order==ASC_ORDER" class="icon-chevron-up"></i>
          <i ng-show="column.order==DESC_ORDER" class="icon-chevron-down"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="asteroid in rankings" ng-click="AsteroidClick(asteroid)"
          ng-class="{info: selected.full_name == asteroid.full_name}">
        <td ng-repeat="column in columns" ng-bind="getValue(asteroid, column.value)"></td>
      </tr>
      </tbody>
    </table>
    <div id="results-table-loader" class="loader" ng-show="loading">
      Loading....
    </div>
  </div>

</div>
