<div ng-controller="AsteroidTableCtrl" ng-cloak>
  <div class="navbar navbar-inverse">
    <div class="btn-toolbar">
      <!-- CUSTOM INPUT -->
      {% include "blocks/custom_input.html" %}
      <div class="btn-group">
        <span class="btn btn-info active">Lines on page:</span>
        <select class="input-small btn btn-info" ng-options="x for x in POSSIBLE_LIMITS" ng-model="requestParams.limit"
                ng-change="refresh()">
        </select>
      </div>
      <div class="btn-group">
        <a class="btn btn-info" ng-class="{active:requestParams.page<=1}" ng-click="prevPage()">
          <i class="icon-chevron-left icon-white"></i>
        </a>
        <span class="btn btn-info active"
              ng-bind-template="[[requestParams.page]] / [[requestParams.pageCount]]"></span>
        <a class="btn btn-info" ng-class="{active:requestParams.page>=requestParams.pageCount}" ng-click="nextPage()">
          <i class="icon-chevron-right icon-white"></i>
        </a>
      </div>
      <div class="btn-group">
        <button class="btn btn-info" onclick="alert('UnsupportedThing...')">
          <i class="icon-plus"></i> Add custom plot
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-info" ng-click="clearFilters()">
          <i class="icon-remove"></i> Clear filters
        </button>
        <button class="btn btn-info" ng-click="refresh()">
          <i class="icon-repeat"></i> Refresh
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-info" ng-click="showColumnSetting=true">
          <i class="icon-wrench"></i> Set up columns
        </button>
        <button class="btn btn-info" onclick="alert('UnsupportedThing...')">
          <i class="icon-book"></i> Help
        </button>
      </div>
    </div>
  </div>
  <div id="results-table-container">
    <table id="results-table" class="table table-striped-dark table-bordered table-condensed" ng-show="!loading">
      <thead>
      <tr>
        <th ng-repeat="column in columns" ng-click="sortBy(column)">
          <span bind-template="column.title"></span>
          <i ng-show="column.sortDir==ASC_ORDER" class="icon-chevron-up icon-white"></i>
          <i ng-show="column.sortDir==DESC_ORDER" class="icon-chevron-down icon-white"></i>
        </th>
      </tr>
      <tr>
        <th ng-repeat="column in columns">
          <!--TODO autocomplete-->
          <!--TODO delete style-->
          <form class="form-inline" ng-submit="refresh()" style="margin-bottom: 0">
            <input type="text" ng-model="requestParams.searchCriteria[column.field]" class="input-small"
                   ng-submit="refresh()" autocomplete="column.autocomplete" param="column.field">
          </form>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="asteroid in rankings" ng-click="AsteroidClick(asteroid)"
          ng-class="{info: selected.full_name == asteroid.full_name}">
        <td ng-repeat="column in columns" bind-template="column.template"></td>
      </tr>
      </tbody>
    </table>
    <div id="results-table-loader" class="loader" ng-show="loading">
      Loading....
    </div>
  </div>
  <!--TODO move in block/smthng.html-->
  <div modal="showColumnSetting">
    <div class="column-setting-modal">
      <ul class="span2">
        <li>Available columns:</li>
        <li ng-repeat="column in POSSIBLE_COLUMNS" ng-show="!column.selected">
          <a ng-click="addColumn(column)">
            <i class="icon-plus icon-white"></i>
          </a>
          <span bind-template="column.title"></span>
        </li>
      </ul>
      <ul class="span2">
        <li>Already added:</li>
        <li ng-repeat="column in columns">
          <a ng-click="deleteColumn(column)">
            <i class="icon-minus icon-white"></i>
          </a>
          <span bind-template="column.title"></span>

          <a ng-click="upColumn(column)">
            <i class="icon-arrow-up icon-white"></i>
          </a>
          <a ng-click="downColumn(column)">
            <i class="icon-arrow-down icon-white"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--TODO add window with help about filtering and sorting-->
</div>